<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <title>Lok Adalat</title>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">

       </script>
       <script src="https://www.unpkg.com/spltjs@1.1.0"></script>
        <script type="module" src="https://www.unpkg.com/spltjs@1.1.0">
        import splt from "https://cdn.skypack.dev/spltjs@1.0.8";
        import anime from "https://cdn.skypack.dev/animejs@3.2.1";
        splt({});

        anime({
        targets: '.splt',
        translateY: [0, 40],
        direction: 'alternate',
        loop: true,
        delay: anime.stagger(50),
        });


    </script>
     {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {%load crispy_forms_tags %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
         <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    </head>

    <body>

        <nav style="background:#7FFFD4;" class="navbar navbar-expand-sm navbar-light  sticky-top">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">

  <!-- Links -->
  <ul class="navbar-nav">
     <li class="nav-item">
      <a class="navbar-brand colorwhite">Lok Adalat</a>
    </li>

       <li class="nav-item colorwhite">
      <a class="nav-link "  href="{% url 'index' %}">Home</a>
    </li>

   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Generate PDFs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="background:#7FFFD4">
          <a class="dropdown-item" href="{% url 'getladata' %}">Summary</a>
          <a class="dropdown-item" href="{% url 'getladata1' %}">Settlements</a>

        </div>
      </li>
    <li class="nav-item colorwhite">
      <a class="nav-link " href="{% url 'add_settlement' %}">Add Settlement</a>
    </li>




</ul>

       <a class="navbar-text ml-auto" style="font-color:white;" href="#"><span>{{branch_name|upper}}{{ " Branch"|upper}},{{bankid|upper}}</span></a>
       <ul class=" navbar-nav ml-auto" style="align:right;">
           Any queries?
           <li class="nav-item  "> <a href="https://www.instagram.com/imkamalkataria/"  title="Instagram" class="nav-link fa fa-instagram"></a></li>
            <li class="nav-item  "> <a href="https://www.facebook.com/utopiankamal"  title="Facebook" class="nav-link fa fa-facebook"></a></li>
            <li class=" nav-item  ">  <a href="https://x.com/neandien"  title="Twitter" class="nav-link fa fa-twitter"></a></li>
            <li class="nav-item">
      <a class="nav-link fa fa-sign-out "  title="Logout" href="{% url 'logout' %}"></a>
    </li>



       </ul>



  </div>

</nav>
    {% block content %}
    {% endblock content %}

    </body>

</html>
