{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="margin-top:5%; padding: 2em;">
  <div class="card shadow-sm" style="max-width: 100%; width: 100%; max-width: 400px; padding: 1.5em; border-radius: 8px;">
    {% load crispy_forms_tags %}
    
    <h2 class="text-center mb-4">Change Password</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form|crispy }}
      </div>
      <button type="submit" class="btn btn-success btn-block">Change Password</button>
    </form>
  </div>
</div>
{% endblock %}
