<!DOCTYPE html>
<html lang="en">
<head>`
    {% load static %}
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
</script>
<title>Lok Adalat Banking Solutions | Debt Settlement for Banks</title>
<meta name="description" content="Exclusive Lok Adalat debt settlement solutions for banks. Learn how to process NPAs and loan waivers efficiently.">


</head>

</body>
<h1>Lok Adalat for Banks: Debt Waiver & NPA Settlement</h1>
<p>Designed for bankers, our platform helps manage Lok Adalat settlements, debt waivers, and non-performing assets (NPAs).</p>
</html>