{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="text-center">Select Lok Adalat</h2>

    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for loka in lokax %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ loka.lokadalatvenue }}</td>
                <td>{{ loka.lokadalatdate }}</td>
                <td>
                    <a href="{% url 'getsettlements1' loka.id %}" class="btn btn-success">Generate PDF</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-danger">No Lok Adalat records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
