{% extends 'base1.html' %}
{%block content%}
{% load crispy_forms_tags %}

<div class="container" style="">
  {% if messages %}

    {% for message in messages %}
     {% if message.tags %} 
        <div class="rounded alert alert-{{ message.tags }}  alert-dismissible">{{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
                {% endif %}
                
    {% endfor %}
                {%endif%}

    <div class="col-sm-2"></div>
    <div class="col-sm-8 centered"  style="">




         <p class="text text-center text-info">Lok Adalat Login</p>




         <form class="form formx" method="POST" style="margin:1%;max-width:1000px!important;">

    {% csrf_token %}
    {{ login_form}}
    <input class="input btn btn-info" style="margin:0.5em;" type="submit" value="Login"/>
   

 </form>
          <p class="text-info fs-6">Are you an Administrator? <a class="text-info" href="{% url 'admin:index' %}">Login Here</a></p>
    </div>

    <div class="col-sm-2">

    </div>
    </div>
    {%endblock content%}




