<html>
    <head>
         <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load crispy_forms_tags %}

{% load bulma_tags %}
{% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {%load static%}
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <script>

   </script>

  </head>
  <body>

<!--Login-->
<div class="container">
<div class="centered">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
         <p class="text text-center text-success">Login</p>
         <form class="form formx" method="POST">

    {% csrf_token %}
    {{ login_form|crispy}}
    <input class="btn btn-success" type="submit" value="login"/>

<a href="{% url 'admin:index' %}">Admin</a>
 </form>
    </div>
    <div class="col-sm-2"></div>
    </div>







</body>
</html>

