<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
{% load crispy_forms_tags %}
{% load bulma_tags %}
 {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}


<body>
<div class="container" style="margin-top:10px;width:50%;">

	<div class="container card">

	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>


      <div class="row justify-content-center">
		  <form id="regform" class="form form-sm-4" method="POST" data-regions-url="{% url 'ajax_load_regions' %}">

		{% csrf_token %}

		{% csrf_token %}
		{{ register_form|crispy}}
		<button  onclick="myFunction()" id="saveform" class="btn btn-info" type="submit">Register</button>

	</form>

		</div>
	  </div>
	</div>
	{% for key, val in form.errors.items %}
    <p>{{val}}</p>
{% endfor %}
<script>
    $("#id_bank").change(function () {
    console.log("I am calling")
      var url = $("#regform").attr("data-regions-url");  // get the url of the `load_cities` view
      var bankId = $('#id_bank').val();
      console.log("bank id is "+bankId)
      //console.log(url)

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'bank': bankId       // add the country id to the GET parameters
        },
        success: function (data) {
          console.log(data)

          $("#id_ro").html(data);
        }
      });

    });
function myFunction() {

<!--   console.log($("#id_ro").html())-->
}


  </script>
</div>
</body>
</html>

