{% extends 'base1.html' %}
{%block content%}
{% load crispy_forms_tags %}

{% load bulma_tags %}
{% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {%load static%}

<div class="container justify-content-center" style="">



      <div class="container centered1 ">
	          {% if messages %}
<ul class="messages list-unstyled">
    {% for message in messages %}
    <li {% if message.tags %} class="rounded bg-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{%endif%}

		  <form style="padding:20%" id="regform" class="form" method="POST" data-regions-url="{% url 'ajax_load_regions' %}">
 <p class="text-center text-info">Register</p>
			  <p class="text-info">If you already have an account, <a class="" href="/login">Login Here</a></p>
		{% csrf_token %}

		{% csrf_token %}
		{{ register_form|crispy}}

		<button  onclick="myFunction()" id="saveform" class="btn btn-info" type="submit">Register</button>



	</form>

		</div>
	  </div>
	</div>
	{% for key, val in form.errors.items %}
    <p>{{val}}</p>
{% endfor %}
<script>
    $("#id_bank").change(function () {

      var url = $("#regform").attr("data-regions-url");  // get the url of the `load_cities` view
      var bankId = $('#id_bank').val();

      //console.log(url)

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'bank': bankId       // add the country id to the GET parameters
        },
        success: function (data) {


          $("#id_ro").html(data);
        }
      });

    });
function myFunction() {

<!--   console.log($("#id_ro").html())-->
}


  </script>
    {%endblock content%}
