@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.bg-blob{
/*background: url(images/blob.png) 50% 50% no-repeat;*/
background-size: cover;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width:auto;
  height:auto;

  margin: auto;
  position: relative;

}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.centered {
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: fixed;
  top: 50%;
  left: 50%;
   display: inline-block;
  width:auto;
  height:auto;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 20px;
  background-color: white;
  border: white 1px solid;
  border-radius:5px;
  z-index: 100;
}
.centered:hover{
      box-shadow: 0 14px 28px rgba(127,255,212,0.3), 0 10px 10px rgba(0,0,0,0.22);

}
.centered1 {
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24), ;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width:70%;

  background-color: white;
  border: white 1px solid;
  border-radius:5px;
    margin:10%;
}
.centered1:hover{
      box-shadow: 0 14px 28px rgba(220,20,60,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.centered>form>input{
    max-width:200px!important;
    border:teal 1px solid;
}
.centered>form>input:hover{
    border:teal 1px solid;
}

.centered1>form>input{
    max-width:200px!important;
    border:teal 1px solid;
}
.centered1>form>input:hover{
    border:teal 1px solid;
}
.fcolorteal{
font-color:teal;
}

.formx{
    margin: auto;
    width:50%!important;

}
.maxwidth300{
    max-width:300px!important;
}
body{
    background:white;
}
.colorwhite{
    color:White;
}
// helper
.center-xy {
  // width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

html, body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

html {
  box-sizing: border-box;
  user-select: none;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
}

.copy-container {
    margin-top:30%;
  text-align: center;
}

p {
  color: #fff;
  font-size: 24px;
  letter-spacing: .2px;
  margin: 0;
}

.handle {
  background: #ffe500;
  width: 14px;
  height: 30px;
  top: 0;
  left: 0;
  margin-top: 1px;
  position: absolute;
}

#cb-replay {
  fill: #666;
  width: 20px;
  margin: 15px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: inherit;
  cursor: pointer;

  &:hover {
    fill: #888;
  }
}


footer {
  position: fixed;
  margin-top: 1%;
  height: 15 width: 50%;
  text-align: center;
  font-size: 1em;
  bottom: 0;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline;
  margin: 0 2px;
}

 .fa:hover {
            opacity: 0.5;
        }

        .fa-facebook {
            background:rgba(0, 0, 0,0.4);
            color: white;
        }

        .fa-instagram {
            background:rgba(0, 0, 0,0.4);
            color: white;
        }

        .fa-twitter {
            background:rgba(0, 0, 0,0.4);
            color: white;
        }

        .fa {
            padding: 5px;
            font-size: 20px;
            width: 30px;
            text-decoration: none;
            margin: 1px 5px;
        }

