<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="container py-4 px-4 rounded shadow-sm" style="background:#F5F5DC; max-width: 600px;">
    {% if passed %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>Updating the record...</strong>
        </div>

        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="text-danger">You are not authorized to edit this settlement</h4>
        </div>
    {% endif %}
</div>

{% endblock content %}
