
    <!DOCTYPE html>
{% extends "base.html" %}


{% block content %}
{% load crispy_forms_tags %}
{% load bulma_tags %}
{% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {%load static%}

<div class="container">
    <!--<a class="btn btn-info" href="{%url 'index'%}">Home</a>-->
    {%if passed%}
    <p class="text text-danger">Updating the record</p>
<form class="form" method="post" style="padding:1em;">
    {% csrf_token %}
    {{ form|crispy}}
    <input class="btn btn-info"type="submit" value="Update">

</form>
    </div>
    {%else%}

    <h1>You are not authorised to edit this settlement</h1>

    {%endif%}
    {% endblock content %}

